.closeModal,
.openModal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 

  background-color: rgba(0, 0, 0, 0.2); 
}
.openModal {
  padding-top: 25vh;
}
.closeModal {
  padding-top: 25vh;
  display: none;
}

.SuccessModal {
  padding-top: 35vh;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 25px;
}

.modal-header {
  padding: 0px 30px;
  color: white;
  text-align: right;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.modal-body {
  padding: 25px 20px 10px;
  font-size: 20px;
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #fefefe;
  color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.close {
  color: #ffffff;
  margin: 8px 0 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-Delete,
.modal-DeleteBar {
  background-color: #ff4949;
}
.modal-Save,
.modal-SaveBar {
  background-color: #29a746;
}
.modal-Cancel {
  background-color: #aaaaaa;
}
.iconModal-Delete {
  color: #ff4949;
}
.iconModal-Save {
  color: #29a746;
}

.modal-Delete:hover,
.modal-Cancel:hover,
.modal-Save:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}
